/* Google Web Fonts CDN */
// @import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
// font-family: 'Noto Sans KR', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// // font-family: 'Raleway', sans-serif;

/* Google Web Font */
// @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
// font-family: 'Montserrat', sans-serif;

/* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
// font-family: 'Playfair Display', serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// // font-family: 'Roboto', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
// // font-family: 'Source Sans Pro', sans-serif;

/* Noonnu Korean Fonts */
// @font-face {
//     font-family: "GmarketSansLight";
//     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
//         format("woff");
//     font-weight: normal;
//     font-style: normal;
// }
// Noto Sans Japanese
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
// font-family: 'Noto Sans JP', sans-serif;

/* Fontawesome 4.7 */
// @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
// font-family: 'Noto Sans JP', sans-serif;

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

// mobile layout
@mixin r() {
    @media screen and(max-width: 768px) {
        @content;
    }
}
// mobile layout
@mixin t() {
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}
// @font-face {
//     font-family: "Netflix Sans";
//     src: url("/font/NetflixSans-Regular.otf") format("opentype");
//     /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
//     font-weight: normal;
// }
// @font-face {
//     font-family: "Netflix Sans";
//     src: url("/font/NetflixSans-Bold.otf") format("opentype");
//     /* 이런식으로 weight를 지정해서 사용할 수도 있다!*/
//     font-weight: bold;
// }

* {
    box-sizing: border-box;
    outline: none;
    // border: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-size: 16px;
    color: #3c4043;
    line-height: 1.6em;
}
a {
    text-decoration: none;
    color: #3c4043;
}
img {
    width: 100%;
}
/* Reset CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

/* Common CSS */
.btn-download {
    background-color: dodgerblue;
    color: #fff;
    display: inline-block;
    width: 180px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
}
.btn-download:hover {
    background-color: #174ea6;
}

section.feature {
    padding: 50px 0;
}
.inner {
    width: 1250px;
    margin: auto;
    overflow: hidden;
    /* display: flex;
  align-items: center; */
}
.inner > div {
    float: left;
    width: 50%;
    /* flex: 1; */
}
.desc {
    padding: 0 50px;
    padding-top: 100px;
}
.desc h1 {
    font-size: 42px;
    line-height: 1.2em;
}
.photo img {
    width: 100%;
}
.read-more {
    color: purple;
}
.read-more:after {
    content: "\e907";
    font-family: xeicon;
    margin-left: 5px;
    display: inline-block;
    transition: 0.35s;
}
.read-more:hover:after {
    transform: translateX(5px);
}

/* Header */
header {
    height: 65px;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 0 20px;
}
.logo {
    float: left;
    padding-top: 16px;
    a img {
        width: 100px;
    }
}
.download {
    float: right;
    padding-top: 10px;
    transform: translateX(200px);
    transition: 0.5s;
}
.download.active {
    transform: translateX(0);
}

/* Section : Welcome */
section.welcome {
    height: 100vh;
    /* background: #F8F9FB url(images/hero-back-large-desktop.jpg) no-repeat center center; */
    position: relative;
    @include r {
        height: 85vh;
    }
}
.heading {
    position: absolute;
    width: 630px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading img {
    width: 65px;
}
.heading h1 {
    font-size: 52px;
    line-height: 1.3em;
    margin: 30px 0;
}
.download-content span {
    display: block;
    font-size: 13px;
}
.statics {
    font-size: 13px;
}
.statics a {
    color: dodgerblue;
}
.statics a:hover {
    color: rgb(15, 100, 184);
}
.statics label input[type="checkbox"] {
    /* vertical-align: middle;
  margin-top: -1px; */
    transform: translateY(1px);
}

.next-section {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.next-section a {
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 36px;
    line-height: 65px;
    background-color: #fff;
}
.next-section a i {
    -webkit-animation: next 1.2s linear infinite;
    animation: next 1.2s linear infinite;
}

@-webkit-keyframes next {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

@keyframes next {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

/* Section : CallAction */
section.callaction {
    height: 280px;
    /* background: url(images/download-bg-desktop.svg) no-repeat center center; */
    background-color: #4285f4;
    padding-top: 90px;
}
.callaction-inner {
    text-align: center;
}
section.callaction h1 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 40px;
}
section.callaction .btn-download {
    border: 2px solid #fff;
    background-color: transparent;
}
section.callaction .btn-download:hover {
    color: #000;
    background-color: #fff;
}

/* Footer */
footer {
}
.footer-inner {
    width: 1250px;
    margin: auto;
}
.sns-outer {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}
.sns {
    font-size: 20px;
}
.sns b {
    font-weight: normal;
}
.sns a {
    font-size: 24px;
}

/* Sitemap */
.sitemap {
    padding: 50px 0;
}
.link-items {
    overflow: hidden;
    /* display: flex; */
}
.link-item {
    float: left;
    width: 20%;
    /* flex: 1; */
}
.link-item-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    pointer-events: none;
}
.link-item-content {
    line-height: 2.3em;
}
.link-item-content a {
    display: block;
    font-size: 14px;
    color: #555;
}
.link-item-content a:hover {
    color: #000;
}

/* Copyright */
.copyright {
    padding: 50px 0;
    border-top: 1px solid #ddd;
    padding-bottom: 70px;
}
.logo-footer {
    float: left;
    transform: translateY(-4px);
}
.policy {
    float: left;
}
.policy a {
    margin: 5px;
}
.policy a:after {
    content: "|";
    font-size: 14px;
    padding-left: 10px;
    color: #ccc;
}
.policy a:last-child:after {
    display: none;
}
.language {
    float: right;
}
.language i {
    font-size: 24px;
    /* vertical-align: middle;
  margin-top: -3px; */
    transform: translateY(4px);
}
.language select {
    font-size: 14px;
    padding: 3px;
}
@include r {
    /* Common CSS */
    section {
        padding: 0 20px !important;
    }
    .inner {
        width: 100%;
    }
    .inner > div {
        float: none;
        width: 100%;
        text-align: center;
    }
    section.feature.smart .inner,
    section.feature.edit .inner {
        display: flex;
        flex-direction: column;
    }
    section.feature.smart .inner .decs,
    section.feature.edit .inner .decs {
        order: 1;
    }
    section.feature.smart .inner .photo,
    section.feature.edit .inner .photo {
        order: 2;
    }
    section.feature {
        padding: 25px 0;
    }
    .desc {
        padding: 0 20px;
        padding-top: 30px;
        margin-bottom: 50px;
    }
    .desc h1 {
        font-size: 26px;
        line-height: 1.5em;
    }

    /* Header */
    header .btn-download {
        width: 180px;
    }

    /* Section : Welcome */
    .heading {
        width: 80%;
    }
    .heading h1 {
        font-size: 32px;
        line-height: 1.5em;
    }
    .download-content span {
        display: none;
    }
    .statics {
        display: none;
    }
    .next-section {
        transform: translateX(-50%) scale(0.8);
    }

    /* Section : CallAction */
    section.callaction {
        /* background-image: url(images/download-bg-mobile.svg);  */
        padding-top: 80px !important;
    }
    section.callaction h1 {
        font-size: 22px;
    }

    /* Footer */
    footer {
        padding: 0 20px;
    }
    .footer-inner {
        width: 100%;
    }

    /* Sitemap */
    .link-item {
        float: none;
        width: 100%;
    }
    .link-item-title {
        border-bottom: 1px solid #ddd;
        margin-top: 20px;
        padding-bottom: 10px;
        position: relative;
        pointer-events: all;
    }
    .link-item-title:after {
        content: "\e942";
        font-family: xeicon;
        position: absolute;
        right: 10px;
        transition: 0.35s;
    }
    .link-item-title.active:after {
        transform: rotate(180deg);
    }
    .link-item-content {
        display: none;
    }

    /* Copyright */
    .copyright {
        text-align: center;
        border: none;
        padding-top: 0;
    }
    .logo-footer {
        width: 100%;
    }
    .policy {
        float: none;
        margin-bottom: 20px;
    }
    .policy a {
        margin: 2px;
        font-size: 14px;
    }
    .language {
        float: none;
    }
}
