/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
// font-family: 'Noto Sans KR', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// font-family: 'Raleway', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
// font-family: 'Montserrat', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// font-family: 'Roboto', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
// font-family: 'Source Sans Pro', sans-serif;

/* Noonnu Korean Fonts */
@font-face {
    font-family: "GmarketSansLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
body {
    font-size: 15px;
    color: #333;
    line-height: 1.6em;
    margin: 0;
    background: url(/images/CustomerloginForm/background.png) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-top: 0;
}
input,
button {
    outline: none;
}

/* Custom checkbox & radio login Form */
.login {
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.85);
    h1 {
        text-align: center;
        font-size: 42px;
        margin-bottom: 50px;
    }
    .field {
        display: block;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        margin-top: 20px;
    }
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 12px 0;
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        padding-left: 30px;
    }
    input[type="email"] {
        background: url(/images/CustomerloginForm/icon-user.png) no-repeat
            center left 3px;
    }
    input[type="password"] {
        background: url(/images/CustomerloginForm/icon-password.png) no-repeat
            center left 3px;
    }

    input[type="email"]::-webkit-input-placeholder {
        color: #aaa;
        -webkit-transition: 0.35s;
        transition: 0.35s;
    }

    input[type="email"]::-moz-placeholder {
        color: #aaa;
        -moz-transition: 0.35s;
        transition: 0.35s;
    }

    input[type="email"]:-ms-input-placeholder {
        color: #aaa;
        -ms-transition: 0.35s;
        transition: 0.35s;
    }

    input[type="email"]::-ms-input-placeholder {
        color: #aaa;
        -ms-transition: 0.35s;
        transition: 0.35s;
    }

    input[type="email"]::placeholder {
        color: #aaa;
        transition: 0.35s;
    }
    input[type="password"]::-webkit-input-placeholder {
        color: #aaa;
        -webkit-transition: 0.35s;
        transition: 0.35s;
    }
    input[type="password"]::-moz-placeholder {
        color: #aaa;
        -moz-transition: 0.35s;
        transition: 0.35s;
    }
    input[type="password"]:-ms-input-placeholder {
        color: #aaa;
        -ms-transition: 0.35s;
        transition: 0.35s;
    }
    input[type="password"]::-ms-input-placeholder {
        color: #aaa;
        -ms-transition: 0.35s;
        transition: 0.35s;
    }
    input[type="password"]::placeholder {
        color: #aaa;
        transition: 0.35s;
    }
    input[type="email"]:focus {
        border-color: #999;
    }
    input[type="password"]:focus {
        border-color: #999;
    }

    input[type="password"]:focus::-webkit-input-placeholder {
        opacity: 0;
    }

    input[type="password"]:focus::-moz-placeholder {
        opacity: 0;
    }

    input[type="password"]:focus:-ms-input-placeholder {
        opacity: 0;
    }

    input[type="password"]:focus::-ms-input-placeholder {
        opacity: 0;
    }

    input[type="password"]:focus::placeholder {
        opacity: 0;
    }
    input[type="email"]:focus::-webkit-input-placeholder {
        opacity: 0;
    }
    input[type="email"]:focus::-moz-placeholder {
        opacity: 0;
    }
    input[type="email"]:focus:-ms-input-placeholder {
        opacity: 0;
    }
    input[type="email"]:focus::-ms-input-placeholder {
        opacity: 0;
    }
    input[type="email"]:focus::placeholder {
        opacity: 0;
    }
    .save-info {
        margin: 30px 0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        label {
            // float: left;
            input[type="checkbox"] {
                display: none;
            }
            input[type="checkbox"] + em {
                // border: 1px solid #000;
                width: 18px;
                height: 18px;
                display: inline-block;
                margin-right: 5px;
                background: url(/images/CustomerloginForm/icon-checkbox.png)
                    no-repeat;
                background-position: left;
                transform: translateY(5px);
                // 1
                // vertical-align: middle;
                // margin-top: -2px;
                //2
            }
            input[type="checkbox"]:checked + em {
                background-position: right;
            }
        }
        .forgot {
            // float: right;
        }
    }
    .event-info {
        text-align: center;
        .custom-checkbox {
            label {
                display: inline-block;
                margin: 5px;
                input[name="event"] {
                    display: none;
                }
                input[name="event"] + em {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    background: url(/images/CustomerloginForm/icon-radio.png)
                        no-repeat;
                    background-position: left;
                    transform: translateY(3px);
                }
                input[name="event"]:checked + em {
                    background-position: right;
                }
            }
        }
    }
    input[type="button"] {
        display: block;
        width: 100%;
        padding: 10px;
        border-radius: 30px;
        border: none;
        text-transform: uppercase;
        font-size: 17px;
        margin: 15px auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        color: #fff;
        cursor: pointer;
    }
    .sns-info {
        text-align: center;
        .sns {
            a {
                i {
                    border-radius: 50%;
                    line-height: 47px;
                    width: 45px;
                    height: 45px;
                    font-size: 26px;
                    color: #fff;
                    margin: 3px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
                    background-color: red;
                }
            }
        }
        .sns a:nth-child(1) i {
            background-color: #0a66c2;
        }
        .sns a:nth-child(2) i {
            background-color: #1877f2;
        }
        .sns a:nth-child(3) i {
            background-color: #e4405f;
        }
        .sns a:nth-child(4) i {
            background-color: #00c300;
        }
    }
    .signup-info {
        text-align: center;

        a {
            text-transform: uppercase;
            display: block;
            font-weight: 500;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}
