/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
// font-family: 'Noto Sans KR', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// // font-family: 'Raleway', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
// font-family: 'Montserrat', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
// font-family: 'Playfair Display', serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// // font-family: 'Roboto', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
// // font-family: 'Source Sans Pro', sans-serif;

/* Noonnu Korean Fonts */
// @font-face {
//     font-family: "GmarketSansLight";
//     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
//         format("woff");
//     font-weight: normal;
//     font-style: normal;
// }

/* Fontawesome 4.7 */
// @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

@mixin r() {
    @media screen and(max-width: 768px) {
        @content;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 1.6em;
}
// Reset CSS
a {
    text-decoration: none;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin-top: 0;
}
ul li {
}
input,
button {
    outline: none;
}
input,
select {
    cursor: pointer;
}
// html
* {
    box-sizing: border-box;
    // border: 1px solid red;
}
// Toggle Trigger
.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
    i {
        width: 40px;
        height: 40px;
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        background-color: #333;
        color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }
}
//  Toggle Trigger//
.toggle.active i {
    background-color: yellowgreen;
    transform: rotate(315deg);
}
// //  Overlay 4가지 종류중 첫번째 빙글빙글
// .overlay {
//     position: fixed;
//     background-color: #000;
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     top: 20px;
//     left: 20px;
//     transition: 0.5s;
//     opacity: 0;
// }
// .overlay.active {
//     transform: scale(130);
//     opacity: 1;
// }
/* Overlay - 상하로 오버레이 만들기(안에서 밖으로) */
// .overlay {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }
// .overlay::before,
// .overlay::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 0;
//     background-color: #000;
//     transition: 0.35s;
// }
// .overlay::before {
//     top: 50%;
// }
// .overlay::after {
//     bottom: 50%;
// }
// .overlay.active::before,
// .overlay.active::after {
//     height: 50%;
// }
/* Overlay - 상하로 오버레이 만들기(안에서 밖으로) */
// .overlay {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }
// .overlay:before,
// .overlay:after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 0;
//     background-color: #000;
//     transition: 0.35s;
// }
// .overlay:before {
//     top: 50%;
// }
// .overlay:after {
//     bottom: 50%;
// }
// .overlay.active:before,
// .overlay.active:after {
//     height: 50%;
// }
/* Overlay - 좌우로 오버레이 만들기(안에서 밖으로) */
// .overlay {
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
// }
// .overlay:before,
// .overlay:after {
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 100%;
//     background-color: #000;
//     transition: 0.35s;
// }
// .overlay:before {
//     left: 50%;
// }
// .overlay:after {
//     right: 50%;
// }
// .overlay.active:before,
// .overlay.active:after {
//     width: 50%;
// }
/* Overlay - 좌우로 오버레이 만들기 */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.overlay:before,
.overlay:after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #000;
    transition: 0.35s;
}
.overlay:before {
    left: 0;
}
.overlay:after {
    right: 0;
}
.overlay.active:before,
.overlay.active:after {
    width: 50%;
}

.gnb {
    @include r {
        text-align: center;
        width: 100%;
        li a {
            font-size: 2.2em;
        }
    }
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: 0.6s;

    z-index: 100;
    // visibility: hidden;
    pointer-events: none;
    // visibility or pointer-events
    &.active {
        opacity: 1;
        // visibility: visible;
        pointer-events: all;
    }
    a {
        font-family: "Playfair Display", serif;
        font-size: 3.2em;
        line-height: 1.6em;
        text-decoration: none;
        color: #fff;
        position: relative;
        padding-right: 20px;
    }
    a::after {
        content: "";
        position: absolute;
        height: 20px;
        width: 0;
        background-color: yellowgreen;
        left: 0;
        bottom: 7px;
        z-index: -1;
        transition: 0.5s;
    }
    a:hover::after {
        width: 100%;
    }
}
/*Common CSS*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 100px auto;
    @include r {
        height: auto;
        padding: 0px 30px;
        margin: 0;
        &.welcome {
            padding: 0px;
        }
    }
    &:nth-child(odd) {
        background-color: #f8f8f8;
    }
    .inner {
        @include r {
            width: 100%;
        }
        width: 1150px;
        text-align: center;
    }
}
/*  Section : Welcome!  */
section.welcome {
    height: 100vh;
    width: 100%;
    img {
        width: inherit;
        height: inherit;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
.heading {
    width: 100%;
    margin: 0px auto;
    @include r {
        // padding: 0px 30px;
    }
    .title:nth-child(2) {
    }
    b {
        display: inline-block;
        // margin-bottom: 30px;
        font-size: 1.5em;
    }
    h1 {
        @include r {
            font-size: 1.8em;
            line-height: 1.3em;
        }
        font-size: 3em;
        position: relative;
        padding-bottom: 40px;

        &::before {
            content: "";
            position: absolute;
            width: 150px;
            height: 4px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0px;
        }
    }
    h1 + p {
        padding: 0px 50px;
        @include r {
            padding: 0px;
        }
    }
    .title_1::before {
        background-color: #61dafb;
    }
    .title_2::before {
        background-color: #000;
    }
    .title_3::before {
        background-color: #327959;
    }
    .title_4::before {
        background-color: #ff3e00;
    }
    .title_5::before {
        background-color: #dd0031;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 30px auto;
        padding-top: 100px;
        margin-bottom: 30px;
        @include r {
            padding-top: 20px;
            margin-bottom: 15px;
        }
        img {
            margin-left: 20px;
            width: 50px;
            height: 50px;
        }
    }

    p {
        font-size: 1.2em;
        line-height: 1.5em;
        // padding: 0px 30px;
        span {
        }
    }
}
.container {
    width: 100%;
}
