@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");
* {
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    color: #222;
    line-height: 1.5em;
    font-size: 15px;
    background-color: #eee;
    font-weight: 300;
}
a {
    text-decoration: none;
    color: #333;
}
header {
    font-weight: normal;
    background: #fff;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
    nav {
        border: 1px solid red;
        width: 1100px;
        margin: auto;
        .logo {
            float: left;
            width: 180px;
        }
    }
}
