/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

.loading {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
        font-size: 10px;
        text-transform: uppercase;
    }
}
.circle {
    border: 5px solid #000;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border-radius: 50%;
    border-right-color: lightgray;
}
