/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
// font-family: 'Noto Sans KR', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
// // font-family: 'Raleway', sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
// font-family: 'Montserrat', sans-serif;

/* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
// font-family: 'Playfair Display', serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
// // font-family: 'Roboto', sans-serif;

// /* Google Web Font */
// @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
// // font-family: 'Source Sans Pro', sans-serif;

/* Noonnu Korean Fonts */
// @font-face {
//     font-family: "GmarketSansLight";
//     src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
//         format("woff");
//     font-weight: normal;
//     font-style: normal;
// }
// Noto Sans Japanese
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

/* Fontawesome 4.7 */
// @import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
// font-family: 'Noto Sans JP', sans-serif;

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

// mobile layout
@mixin r() {
    @media screen and(max-width: 768px) {
        @content;
    }
}
// mobile layout
@mixin t() {
    @media screen and(min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}
body {
    margin: 0;
    font-size: 15px;
    color: #333;
    line-height: 1.5em;
}
// Reset CSS
a {
    text-decoration: none;
    color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    // font-weight: 500;
    margin-top: 0;
}
ul li {
}
input,
button {
    outline: none;
}
input,
select {
    cursor: pointer;
}
// html
* {
    box-sizing: border-box;
    outline: none;
    font-family: "Noto Sans JP", sans-serif;

    // border: 1px solid red;
}

body {
    margin: 0;
    line-height: 1.6em;
    color: #222;
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-color: #222;
}
/* Common CSS */

/* Section portfolio */
.buttons {
    margin-top: 30px;
}
.buttons button {
    width: 130px;
    border: none;
    height: 50px;
    font-size: 18px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.audio-status {
    /* border: 1px solid #fff; */
    width: 20px;
    height: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.audio-status span {
    float: left;
    width: 2px;
    height: 100%;
    background-color: yellowgreen;
    margin-right: 2px;
}
.audio-status.active span:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.audio-status.active span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.audio-status.active span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.audio-status.active span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.audio-status.active span {
    -webkit-animation: audio-bar 1s linear infinite;
    animation: audio-bar 1s linear infinite;
}

@-webkit-keyframes audio-bar {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 20%;
    }
}

@keyframes audio-bar {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 20%;
    }
}
